<a href="https://colab.research.google.com/github/LambdaTheda/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Nov_8_Thur_done_version_of_Theda's_Copy_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####

#Get LendingClub data
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-08 08:23:11--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [            <=>     ]  21.67M   393KB/s    in 58s

2019-11-08 08:24:09 (386 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22727580]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
!head LoanStats_2018Q4.csv # reading 1st 5 rows of file using Scripting (bash)- easier bc can replace mult lines of code with fewer; the OS is protected against anything that isn't scripting
                           # One can't read uncompressed zip files; "looks" like giberish to machine

In [0]:
!tail LoanStats_2018Q4.csv # reading 1ast 5 rows of file

In [0]:
#Load LendingClub data

import pandas as pd
df = pd.read_csv('LoanStats_2018Q4.csv', skiprows=1, skipfooter=2,  engine='python')
    # SKIPROWS: You can pass a list of row numbers to skiprows instead of an integer.

    # By giving the function the integer 10, you're just skipping the first 10 lines.

    # To keep the first row 0 (as the header) and then skip everything else up to row 10, you can write:

    # pd.read_csv('test.csv', sep='|', skiprows=range(1, 10))

    # SKIPFOOTER:  Indicates number of rows to skip from bottom of the file.

    # Ensure that engine parameter is ‘python’ and not ‘c’ while using skipfooter.

    # So to skip last 4 rows of a file, you can use skipfooter = 4

    # import pandas as pd
    # df = pd.read_csv("f500.csv", skipfooter = 4, engine = 'python')

import pandas as pd
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# What is the shape of my file?

print(df.shape)  #shape is an attribute; returns (Rows, Columns)
print(df.columns)

In [0]:
df.shape

In [0]:
# How much missing data do I have?

# look at subset of data rows and columns:
pd.options.display.max_rows=999
pd.options.display.max_columns=100

# look for missing values via summation of Null values,
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html
# ascending= False will return sorted data in descending order (largest to smallest); True is default
df.isnull().sum().sort_values(ascending=False)

In [0]:
# Work with strings

# Let's identify a column that shouldn't be a string.
df['int_rate'].head()

0     14.47%
1     22.35%
2     23.40%
3     18.94%
4     10.72%
Name: int_rate, dtype: object

In [0]:
# what is the data type of this column?
df['int_rate'].dtype  # returns dtype('O') for String

dtype('O')

In [0]:
# what is the value of the first cell in this column?

# retrieve/extract row via df.loc[] DataFrame.loc[] method is a method that takes only index labels and returns row or dataframe if the index label exists in the caller data frame.
int_rate0 = df.loc[0, 'int_rate']  # 0 for 1st cell
print(int_rate0)
int_rate0                          # call df

 14.47%

' 14.47%'

In [0]:
# we need a python method for removing string values
# https://www.programiz.com › python-programming › methods › strip
# Python String strip() The strip() method returns a copy of the string with both leading and trailing characters removed (based on the string argument passed). The strip() removes characters from both left and right based on the argument (a string specifying the set of characters to be removed).
int_rate0.strip()

'14.47%'

In [0]:
# get rid of the percent sign
int_rate0.strip('%')

' 14.47'

In [0]:
# get rid of both using "chained methods"
int_rate0.strip().strip('%')

'14.47'

In [0]:
# Check which version of pandas
pd.__version__ # 2 underscores twice

In [0]:
# Finally, we can now convert from string to float
float(int_rate0.strip().strip('%'))

14.47

In [0]:
# confirm that did what we wanted
print(type(int_rate0.strip().strip('%')))

# typecast to float(?)
print(type(float(int_rate0.strip().strip('%'))))

<class 'str'>
<class 'float'>

In [0]:
# Convert the 'Term' column from string to integer:

# (1) The astype(int) method:
# df['DataFrame Column'] = df['DataFrame Column'].astype(int)

# SEEMS HE DELETED THIS EXERCISE fromp previous version of his lecture notes:
# df['term'] = df['term'].astype(int)

# (2) The to_numeric method:
# df['DataFrame Column'] = pd.to_numeric(df['DataFrame Column'])

In [0]:
# Convert int_rate
# Define a function to remove percent signs from strings and convert to floats

# write your function
def int_rate_2_float(my_string):
  return float(my_string.strip().strip('%'))

In [0]:
# test your function
int_rate_2_float(int_rate0)

14.47

In [0]:
# Apply the function to the int_rate column
df['int_rate_float'] = df['int_rate'].apply(int_rate_2_float)
df.columns      # call columns

NameError: ignored

In [0]:
# compare the old and new columns
df[['int_rate', 'int_rate_float']].head()

In [0]:
# confirm that we can now employ math on this
df['int_rate_double']=df['int_rate_float']*2
df[['int_rate', 'int_rate_float', 'int_rate_double']].sample(5)

In [0]:
#Clean emp_title

In [0]:
# Let's explore this column
df[['emp_title', 'int_rate']].sample(6)

In [0]:
# brackets for [viewing] columns [side-by-side]
df[['emp_title', 'int_rate']].head()

In [0]:
#what are the possible titles?
df['emp_title'].nunique()

In [0]:
# Show the most popular titles
df['emp_title'].value_counts(ascending=False,dropna=False).head()

In [0]:
# wHoops, we got some nulls
df['emp_title'].notnull().sum()

In [0]:
#Clean the title and handle missing values
import numpy as np
type(np.NaN)

float

In [0]:
# Write a function to clean up our titles
def clean_title(title):
  if isinstance(title, str):
    return title.strip().title()
  else:
    return 'Unknown'

examples=['owner', 'Supervisor', 'Project Manager', np.NaN] 

for item in examples:
   print(clean_title(item))

In [0]:
# Now that we've tested our function, let's apply it to the entire dataframe column.
df['emp_title_clean']=df['emp_title'].apply(clean_title)

In [0]:
# compare old and new values
df[['emp_title', 'emp_title_clean']].sample(6)

In [0]:
# check for missing data
df['emp_title_clean'].isnull().sum()

In [0]:
# how about them value counts?
df['emp_title_clean'].value_counts(ascending=False).head()

In [0]:
# Create emp_title_manager
df['emp_title_manager']=df['emp_title_clean'].str.contains('Manager')
df.columns

In [0]:
# Compare old and new
df[['emp_title_clean', 'emp_title_manager']].sample(4)

In [0]:
# any missing?
df['emp_title_manager'].isnull().sum()

In [0]:
# Work with dates
# list all columns and their data types
df.dtypes  # Time/Date Components "You can access these properties via the .dt accessor"

In [0]:
# which columns are dates?
for col in df.columns:
  if (col.endswith('d')) or (col.endswith('date')):
    print(col)

In [0]:
# list all columns and their data types
df.dtypes

In [0]:
# the pros do that with list comprehension
date_col_list = [col for col in df.columns if (col.endswith('_d')) or (col.endswith('_date'))] # horizontal for loop
print(date_col_list)

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'debt_settlement_flag_date', 'settlement_date']

In [0]:
# what is their dtype?
df['issue_d'].dtype

In [0]:
# Even though it looks like a date
df.loc[0:10, 'issue_d'] #takes only index labels and returns row or dataframe if the index label exists in the caller data frame. from https://www.geeksforgeeks.org/python-pandas-extracting-rows-using-loc/

In [0]:
# Let's convert those strings to dates
df['issue_d_clean']=pd.to_datetime(df['issue_d'], infer_datetime_format=True)

In [0]:
# compare
df[['issue_d', 'issue_d_clean']].head()

In [0]:
# check the type
df['issue_d_clean'].dtype  # Rtns "dtype('<M8[ns]')"; datetime64[ns] is a general dtype, while <M8[ns] is a specific dtype... from https://stackoverflow.com/questions/29206612/difference-between-data-type-datetime64ns-and-m8ns

In [0]:
# now we can create some new values
df['year']=df['issue_d_clean'].dt.year

In [0]:
# compare
df[['issue_d_clean', 'year']].sample(6)

In [0]:
# Let's create a few more
df['month']=df['issue_d_clean'].dt.month

In [0]:
# compare
df[['issue_d_clean', 'month']].sample(6)

In [0]:
# Weekday
df['weekday']=df['issue_d_clean'].dt.weekday

# compare
df[['issue_d_clean', 'weekday']].sample(6)

In [0]:
# Filtering

In [0]:
# set of booleans
df['emp_title_manager']

In [0]:
# Filter on that!
condition = df['emp_title_manager'] == True

managers=df[condition]
managers.head(10)

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01